body {
    background-color: #F8F8F8;
    font-family: "Geologica", sans-serif;
}

.whiteBackground {
    background-color: white;
}

.greenBackground {
    background-color: #6e9857;
}

.shadowGraph {
    box-shadow: 2px 3px 3px #A8A8A8;
}

.verticalCenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.tabsLinks {
    text-decoration: none;
    color: white;
}

.tabsLinks:hover {
    color: rgb(197, 197, 197);
    transition: all 0.3s;
}

.returnLink {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.returnLink:hover {
    color: rgb(197, 197, 197);
    transition: all 0.3s;
}