body {
    background-color: #F8F8F8;
    font-family: "Geologica", sans-serif;
}

h4 {
    font-size: 1.5em;
}

.whiteBackground {
    background-color: white;
}

.greenBackground {
    background-color: #6e9857;
}

.footer {
    background-color: #232528;
}

.shadowGraph {
    box-shadow: 2px 3px 3px #A8A8A8;
}

.verticalCenter {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.tabsLinks {
    text-decoration: none;
    color: white;
    font-size: 1.15em;
}

.tabsLinks:hover {
    color: rgb(197, 197, 197);
    transition: all 0.3s;
}

.returnLink {
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

.returnLink:hover {
    color: rgb(197, 197, 197);
    transition: all 0.3s;
}

.smallChartBox {
    height: 19em;
    width: 26em;
    margin: auto;
}

.bigChartBox {
    width: auto;
}

.maximiseGraph {
    height: 81vh;
}

.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
    text-align: center;
    background: #fff;
    justify-content: center;
    align-items: center;
}

.maximiseButton, .minimizeButton {
    cursor: pointer;
}